## Control structures 
### BIOINF 575

#### DATATYPES RECAP

```
 STRINGS:      "" or    '' or   """""" or   ''''''
 LISTS:        []
 TUPLES:       ()
 DICTIONARIES: {}, the item structure is  key:value
 SETS:         {}, the item structure is value
```

<img src = "https://media.cheatography.com/storage/thumb/desmovalvo_python3-data-structures.750.jpg" width = "600" />


https://cheatography.com/mariofreitas/cheat-sheets/python-basics-lists-tuples-and-dictionaries/
https://www.slideshare.net/gilcohen792/python3-cheatsheet
https://github.com/leriomaggio/python-in-a-notebook/blob/master/03%20List%20and%20Tuples%20and%20Sets.ipynb

In [2]:
amino_acids = {'Ser': 'Serine', 'Lys': 'Lysine', 'Ala': 'Alanine', 'Leu': 'Leucine'}

To add a new dictionary element - subset the dictionay using the new key and assign the value or use the update function.    
To get all dictionary items use the items method.

In [4]:
amino_acids["new_key"] = "new_value"

In [6]:
amino_acids

{'Ser': 'Serine',
 'Lys': 'Lysine',
 'Ala': 'Alanine',
 'Leu': 'Leucine',
 'new_key': 'new_value'}

#### <font color = "red">Exercise</font> 

Return the value for the key = "Ala".   
If it does not exist return an empty string.   
Create an empty set.   
Add the following values to the set: 'Serine', 'Lysine', 'Alanine'.

In [8]:
amino_acids["Ala"]

'Alanine'

In [10]:
key = "Ala"
key in amino_acids

True

In [12]:
amino_acids.get("Ala")

'Alanine'

In [14]:
amino_acids.get("ala")

In [16]:
print(amino_acids.get("ala"))

None

In [18]:
amino_acids.get("Ala", "")

'Alanine'

In [20]:
amino_acids.get("ala", "")

''

In [22]:
my_set = {}

In [24]:
type(my_set)

dict

In [42]:
my_set = set()
type(my_set)

set

In [44]:
my_set

set()

In [46]:
my_set.update(('Serine', 'Lysine', 'Alanine'))

In [48]:
my_set

{'Alanine', 'Lysine', 'Serine'}

In [50]:
my_set.add('Serine1') 
print(my_set)
my_set.add('Lysine1')
print(my_set)
my_set.add('Alanine1')
my_set

{'Lysine', 'Alanine', 'Serine1', 'Serine'}
{'Lysine1', 'Alanine', 'Serine', 'Lysine', 'Serine1'}

{'Alanine', 'Alanine1', 'Lysine', 'Lysine1', 'Serine', 'Serine1'}

____________

### Control Structures

**Control Structures** are constructs that **give a block of code context as well as help repeat or selectivelly run it**.

Control Structures control how the associated code works by "wrapping" it within its structure.

Types of control structures:
* Sequential: default mode - execution of statements line by line - like reading a book or following a recipe
* Selection: decisions, branching - allows the distinction between two or more disjunct situations in which different sets of statements should be executed <br>
Selection structures:
    * if &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; - considers additional code on only one branch
    * if-else &emsp; &emsp;&emsp;  - considers two branches
    * if-elif-else &emsp;&nbsp;    - considers three branches
* Repetition: looping - allows the repeatition of a set of statements multiple times <br>
Loop structures:
    * while &emsp;  &emsp;   &emsp; - number of repetitions **unknown**
    * for &emsp;&emsp;&emsp;&emsp;&emsp; - number of repetitions **known**

Selection and repetition statements typically rely on conditions that are evaluated as either true or false.

### if: selection/decision control structure

if statements check specific conditions through the processing of the code <br>
The syntax is as follows:

```python
if [not] <condition>:
    <statements>
elif <condition>:
    <statements>
else:
    <statements>
```

In [52]:
# Comprehensive if-elif-else statement
int_var = 20
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

Equal to or greater than 10

In [54]:
# Comprehensive if-elif-else statement
int_var = 2
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

Less than 5

In [56]:
int_var = 7
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

Between 5 and 10

In [58]:
int_var = 2
if int_var < 5
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

SyntaxError: expected ':' (2413456760.py, line 2)

In [60]:
int_var = 2
if int_var < 5:
print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

IndentationError: expected an indented block after 'if' statement on line 2 (2624457292.py, line 3)

In [70]:
int_var = 2
if int_var < 5:
    print("Less than 5")
    print("if branch")
elif int_var < 10:
    print("Between 5 and 10")
    print("elif branch")
else:
    print("Equal to or greater than 10")
print("else branch")

Less than 5
if branch
else branch

In [72]:
int_var = 2
if int_var < 5:
    print("Less than 5")
    print("if branch")
elif int_var < 10:
    print("Between 5 and 10")
    print("elif branch")
else:
    print("Equal to or greater than 10")
    print("else branch")

Less than 5
if branch

In [74]:
int_var = 20
if int_var < 5:
    print("Less than 5")
    print("if branch")
elif int_var < 10:
    print("Between 5 and 10")
    print("elif branch")
else:
    print("Equal to or greater than 10")
    print("else branch")

Equal to or greater than 10
else branch

#### <font color = "red">Exercise</font>
Write an if statement to check who is the youngest of three people with ages:
age1, age2, age3

In [76]:
age1 = 20
age2 = 50
age3 = 34

if age1 < age2: 
    print("First person is the youngest")
else:
    print("Second person is the youngest")

First person is the youngest

In [82]:
age1 = 20
age2 = 20
age3 = 34

if age1 <= age2 and age1 <= age3: 
    print("First person is the youngest")
elif age2 <= age1 and age2 <= age3:
    print("Second person is the youngest")
else:
    print("Third person is the youngest")

First person is the youngest

In [84]:
age1 = 20
age2 = 20
age3 = 34
lowest_age = age1

if age1 <= age2 and age1 <= age3: 
    print("First person is the youngest")
    lowest_age = age1
elif age2 <= age1 and age2 <= age3:
    print("Second person is the youngest")
    lowest_age = age2
else:
    print("Third person is the youngest")
    lowest_age = age3


print(lowest_age)

First person is the youngest
20

In [92]:
age1 = 200
age2 = 34
age3 = 34
lowest_age = age1

if age1 <= age2 and age1 <= age3: 
    print("First person is the youngest")
    lowest_age = age1
elif age2 <= age1 and age2 <= age3:
    print("Second person is the youngest")
    lowest_age = age2
else:
    print("Third person is the youngest")
    lowest_age = age3


print(lowest_age)

Second person is the youngest
34

### for: the repetitive control structure with a known number of steps

To loop through a sequence of elements is to iterate

```python
for var in sequence:
    statements
```

* A variable is used to go through each element of the iterable we go through.  
* The variable will take the values of the iterrable elements one by one and then the block of code in the for loop will be executed for each value.
* The code of the for loop - the code to be executed for each element of the iterrable - has to be indented - that is how the interpreter knows where the instructions that it needs to repeat stop

Iterable:  An object capable of returning its members one at a time.
https://docs.python.org/3/glossary.html
https://docs.python.org/3/library/collections.abc.html?highlight=iterable#collections.abc.Iterable

In [94]:
list(range(3))

[0, 1, 2]

In [96]:
i = 0
# run statements
i = 1
# run statements
i = 2
# run statements

In [98]:
# Print elements of a range
for i in range(3):
    print(i)

0
1
2

In [100]:
i

2

In [102]:
for i in range(3):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (3296739069.py, line 2)

In [104]:
for i in range(3)
    print(i)

SyntaxError: expected ':' (859882524.py, line 1)

In [106]:
for i in range(3):
    print("step:")
    print(i)

step:
0
step:
1
step:
2

In [108]:
for i in range(3):
    print("step:")
print(i)

step:
step:
step:
2

In [110]:
# nested loop
for i in range(3):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

In [114]:
l = []
for i in range(3):
    for j in range(4):
        # print(i,j)
        l.append((i,j))
        print(l)
l

[(0, 0)]
[(0, 0), (0, 1)]
[(0, 0), (0, 1), (0, 2)]
[(0, 0), (0, 1), (0, 2), (0, 3)]
[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0)]
[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1)]
[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2)]
[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3)]
[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0)]
[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1)]
[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2)]
[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3)]

In [116]:
l

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3)]

In [118]:
l = []
for i in range(3):
    for j in range(4):
        # print(i,j)
        l.append((i,j))
        l

In [120]:
l

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3)]

In [128]:
list_var = ["elem1","elem2","elem3"]
for i in list_var:
    print(i)

elem1
elem2
elem3

In [130]:
list_var = ["elem1","elem2","elem3"]
for list_elem in list_var:
    print(list_elem)

elem1
elem2
elem3

In [126]:
for i in range(len(list_var)):
    print(i,list_var[i])

0 elem1
1 elem2
2 elem3

In [134]:
# use the enumerate function to create pairs of index value
for i, list_elem in enumerate(list_var):
    print(i, list_var[i])
    print(i,list_elem)

0 elem1
0 elem1
1 elem2
1 elem2
2 elem3
2 elem3

In [138]:
list(enumerate(list_var))

[(0, 'elem1'), (1, 'elem2'), (2, 'elem3')]

In [142]:
list(enumerate("ACGT"))

[(0, 'A'), (1, 'C'), (2, 'G'), (3, 'T')]

In [144]:
for item in enumerate("ACGT"):
    print(item)

(0, 'A')
(1, 'C')
(2, 'G')
(3, 'T')

In [146]:
i, val = (0, 'A')
print(i)
print(val)

0
A

In [148]:
for i,val in enumerate("ACGT"):
    print(i, val)

0 A
1 C
2 G
3 T

In [4]:
list(enumerate("ACGT"))

[(0, 'A'), (1, 'C'), (2, 'G'), (3, 'T')]

In [6]:
x,y = (0, 'A')
print(x)
print(y)

0
A

In [154]:
d = {"A":3,"C":2}
for key, val in d.items():
    print(key, val)

A 3
C 2

In [10]:
d = {"A":3,"C":2}
for key in d:
    print(key)

A
C

In [12]:
d = {"A":3,"C":2}
for key in d.keys():
    print(key)

A
C

In [14]:
d = {"A":3,"C":2}
for val in d.values():
    print(val)

3
2

##### Sequence types as well as dictionaries and sets are iterables

In [18]:
# Go through the d dictionary items

d = {"A":3,"C":2}
for key, val in d.items():
    print(key, val)

A 3
C 2

In [20]:
for elem in (1,2,3,4,50):
    print(elem)

1
2
3
4
50

In [26]:
for elem in range(1,5,2):
    print(elem)

1
3

#### <font color = "red">Exercise</font> 
Codons are sequences of three nucleotides<br>
Nucleotides are: 'A', 'C', 'G', 'T'<br>
Write code that outputs all possible combinations of codons<br>
Then add a condition to display only the ones that have the group 'AC'

In [30]:
nucleotides = "ACGT"
for n in nucleotides:
    print(n)

A
C
G
T

In [44]:
nucleotides = "ACGT"

for n1 in nucleotides:
    print(n1)
print()
for n2 in nucleotides:
    print(n2)

A
C
G
T

A
C
G
T

In [54]:
nucleotides = "ACGT"

for n1 in nucleotides:
    for n2 in nucleotides:
        for n3 in nucleotides:
            codon = n1+n2+n3
            print(codon)
            # print(type(codon))

AAA
AAC
AAG
AAT
ACA
ACC
ACG
ACT
AGA
AGC
AGG
AGT
ATA
ATC
ATG
ATT
CAA
CAC
CAG
CAT
CCA
CCC
CCG
CCT
CGA
CGC
CGG
CGT
CTA
CTC
CTG
CTT
GAA
GAC
GAG
GAT
GCA
GCC
GCG
GCT
GGA
GGC
GGG
GGT
GTA
GTC
GTG
GTT
TAA
TAC
TAG
TAT
TCA
TCC
TCG
TCT
TGA
TGC
TGG
TGT
TTA
TTC
TTG
TTT

In [56]:
nucleotides = "ACGT"
group = "AC"
for n1 in nucleotides:
    for n2 in nucleotides:
        for n3 in nucleotides:
            codon = n1+n2+n3
            if group in codon:
                print(codon)
                # print(type(codon))

AAC
ACA
ACC
ACG
ACT
CAC
GAC
TAC

In [58]:
codon

'TTT'

In [64]:
group_codons = []
nucleotides = "ACGT"
group = "AC"
for n1 in nucleotides:
    for n2 in nucleotides:
        for n3 in nucleotides:
            codon = n1+n2+n3
            if group in codon:
                # print(codon)
                group_codons.append(codon)
                print(group_codons)
                # print(type(codon))

['AAC']
['AAC', 'ACA']
['AAC', 'ACA', 'ACC']
['AAC', 'ACA', 'ACC', 'ACG']
['AAC', 'ACA', 'ACC', 'ACG', 'ACT']
['AAC', 'ACA', 'ACC', 'ACG', 'ACT', 'CAC']
['AAC', 'ACA', 'ACC', 'ACG', 'ACT', 'CAC', 'GAC']
['AAC', 'ACA', 'ACC', 'ACG', 'ACT', 'CAC', 'GAC', 'TAC']

In [66]:
group_codons

['AAC', 'ACA', 'ACC', 'ACG', 'ACT', 'CAC', 'GAC', 'TAC']

<b>Think of a repetitive case when you could not use a for loop readily</b>

In [ ]:
# finding a value in a list

### while: the repetitive control structure with unkown number of steps

loop stopped by a condition

<b>while loops make it easy to cause an 'infinite loop'</b>

```python
while condition:
    statements
```

In [76]:
# while counting steps
step = 1
while step <= 10:
    print('Step ' + str(step))
    step = step + 1

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10

In [80]:
# while I get a value different than the 
# one I am looking for (10) ask for another value 
cond = True
while cond:
    value = int(input()) 
    if value > 10:
        print(value, 'Greater than what I am looking for')
    if value < 10:
        print(value, 'Lower than or equal to what I am looking for')
    cond = (value != 10)

 5

5 Lower than or equal to what I am looking for

 50

50 Greater than what I am looking for

 20

20 Greater than what I am looking for

 15

15 Greater than what I am looking for

 10

```python
# Infinite loop
cond = True
while cond:
    print('Infinite loop')
```

In [72]:
#cond = True
#while cond:
#    print('Infinite loop')

#### <font color = "red">Exercise</font> 
Assign a variable sequence_length the value 100 <br>
Substract powers of 2 (2, 4, 8, 16,...) and  until the value drops below 0<br>
Print the power of 2 used in the last substraction.

In [90]:
power = 0
base = 2
sequence_length = 100
if sequence_length >= 0:
    sequence_length = sequence_length - base ** power
    power = power + 1

sequence_length

99

In [92]:
if sequence_length >= 0:
    sequence_length = sequence_length - base ** power
    power = power + 1

sequence_length

97

In [94]:
if sequence_length >= 0:
    sequence_length = sequence_length - base ** power
    power = power + 1


sequence_length

93

In [96]:
power

3

In [106]:
power = 0
base = 2
sequence_length = 100
while sequence_length >= 0:
    print(sequence_length, power, base ** power)
    sequence_length = sequence_length - base ** power
    print(sequence_length)
    power = power + 1

sequence_length

100 0 1
99
99 1 2
97
97 2 4
93
93 3 8
85
85 4 16
69
69 5 32
37
37 6 64
-27

-27

### More control statements

Control statements are special structures that have control behavior. 
They can be represented by a keyword:

```python
pass
break
continue
```

<b>pass: do nothing</b>

In [108]:
value = 20
if value == 20:
    pass

In [110]:
value = 20
if value == 20:

SyntaxError: incomplete input (1370860514.py, line 3)

In [122]:
value = 202
if value == 20:
    pass
else:
    print(value)

202

In [124]:
value = 202
if value != 20:
    print(value)

202

In [126]:
for i in range(3):
    pass

In [128]:
i

2

<b>break: stops loops

<b>break: allows the user to stop the closest loop</b>

In [130]:
# while break - it already has a condition that stops it but ...
cond = True
i = 0
while cond:
    if i == 3:
        break
    else:
        print(i)
        i = i + 1

0
1
2

In [132]:
# infinite loop

#cond = True
#i = 0
#while cond:
#    if i != 3:
#        print(i)
#        i = i + 1

0
1
2

KeyboardInterrupt:

In [134]:
# for + break - kind of makes it a while
for i in range(10):
    if i==3:
        break
    else:
        print(i)

0
1
2

In [136]:
# for + break - kind of makes it a while
for i in range(10):
    for j in range(10):
        if j==3:
            break
        else:
            print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2
5 0
5 1
5 2
6 0
6 1
6 2
7 0
7 1
7 2
8 0
8 1
8 2
9 0
9 1
9 2

<b>continue: just continue looping</b>

Forces the loop to move on to the next item, skipping anything after it (that is in the loop)

In [138]:
# Continue example
for i in range(10):
    if i > 3 and i < 7:
        continue
    else:
        print(i)
    print('This statement gets executed')

0
This statement gets executed
1
This statement gets executed
2
This statement gets executed
3
This statement gets executed
7
This statement gets executed
8
This statement gets executed
9
This statement gets executed

In [140]:
for i in range(10):
    if i <= 3 or i >= 7:
        print(i)
    print('This statement gets executed')

0
This statement gets executed
1
This statement gets executed
2
This statement gets executed
3
This statement gets executed
This statement gets executed
This statement gets executed
This statement gets executed
7
This statement gets executed
8
This statement gets executed
9
This statement gets executed

In [142]:
for i in range(10):
    if i <= 3 or i >= 7:
        print(i)
        print('This statement gets executed')

0
This statement gets executed
1
This statement gets executed
2
This statement gets executed
3
This statement gets executed
7
This statement gets executed
8
This statement gets executed
9
This statement gets executed

In [144]:
print(200)

200

In [146]:
abs(-10)

10

In [148]:
abs??

Signature: abs(x, /)
Docstring: Return the absolute value of the argument.
Type:      builtin_function_or_method

_____________
### Functions

Think of functions like the **recipe of a cake**. They start with a title (definition). They often require some ingredients (arguments). They need step-wise instructions (code). And, at the end, all is put together in a delicious cake (returned data).

Additionally, **functions are the easiest way to be efficiently lazy**.
The code is easier to understand and reusable.

### Function Definition

```python
def function_name(arg1, arg2, darg=None):
    # instructions to compute result
    return result
```

* Each function should have a name. This is declared by using the `def` keyword
* A function doesn't need to have arguments to work
* The collection of arguments for a given function is called a **signature**
* The function works within its own ***scope*** unless it is using something that was passed to it or is global
* `return` statments exit the function while passing on the data
* **Defining a function does not run a function**. 
* To run a function, it must be called using `([args])` after the function name

### Function Call - running a function

```python
function_result = function_name(val1, val2, dval)
```

---
### Function Examples

In [153]:
# A function that does nothing
def do_pass():
    pass

In [163]:
def do_pass():
    """
    Function that does nothing
    """
    pass

In [165]:
do_pass?

Signature: do_pass()
Docstring: Function that does nothing
File:      /var/folders/cl/dt65jxps2kv3w090fzrjdz6c0000gs/T/ipykernel_35896/3122113295.py
Type:      function

In [167]:
do_pass()

In [169]:
val = do_pass()
print(val)

None

In [155]:
%whos

Variable               Type             Data/Info
-------------------------------------------------
NamespaceMagics        MetaHasTraits    <class 'IPython.core.magi<...>mespace.NamespaceMagics'>
base                   int              2
codon                  str              TTT
cond                   bool             True
d                      dict             n=2
dataframe_columns      function         <function dataframe_columns at 0x1558d0cc0>
dataframe_hash         function         <function dataframe_hash at 0x1558d1a80>
do_pass                function         <function do_pass at 0x1558d1bc0>
dtypes_str             function         <function dtypes_str at 0x1558d1ee0>
elem                   int              3
get_dataframes         function         <function get_dataframes at 0x1558d1e40>
get_ipython            function         <function get_ipython at 0x107895300>
getpass                module           <module 'getpass' from '/<...>b/python3.12/getpass.py'>
group                  str              AC
group_codons           list             n=8
hashlib                module           <module 'hashlib' from '/<...>b/python3.12/hashlib.py'>
i                      int              9
import_pandas_safely   function         <function import_pandas_safely at 0x1558d0900>
is_data_frame          function         <function is_data_frame at 0x1558d1760>
j                      int              3
json                   module           <module 'json' from '/opt<...>on3.12/json/__init__.py'>
key                    str              C
n                      str              T
n1                     str              T
n2                     str              T
n3                     str              T
ncs                    str              acgt
nucleotides            str              ACGT
power                  int              7
sequence_length        int              -27
step                   int              11
sys                    module           <module 'sys' (built-in)>
val                    int              2
value                  int              202
x                      int              0
y                      str              A

In [171]:
def do_sum():
    return 5 + 3

do_sum()

8

In [173]:
def do_sum():
    x = 100
    print(x)
    return 5 + 3
    y = 200
    print(y)
    

do_sum()

100

8

In [179]:
def do_sum():
    x = 100
    print(x)
    if x == 101:
        return 5 + 3
    y = 200
    print(y)
    

result = do_sum()
print(result)

100
200
None

In [181]:
def do_sum():
    result = 0
    x = 100
    print(x)
    if x == 101:
        result =  5 + 3
    y = 200
    print(y)
    return result
    

result = do_sum()
print(result)

100
200
0

In [187]:
# function arguments - internal variables
def do_sum(x, y):
    print("x=",x)
    print("y=",y)
    
    return x + y

# number and order of arguments is important 
# followed based on the funtion definition
do_sum(5,3)

x= 5
y= 3

8

In [189]:
do_sum(4,6)

x= 4
y= 6

10

In [191]:
do_sum(y = 3, x = 7)

x= 7
y= 3

10

In [193]:
do_sum(3,7)

x= 3
y= 7

10

In [195]:
do_sum??

Signature: do_sum(x, y)
Docstring: <no docstring>
Source:
def do_sum(x, y):
    print("x=",x)
    print("y=",y)

    return x + y
File:      /var/folders/cl/dt65jxps2kv3w090fzrjdz6c0000gs/T/ipykernel_35896/1953680716.py
Type:      function

In [197]:
do_sum("test","sum")

x= test
y= sum

'testsum'

In [199]:
do_sum(5,"A")

x= 5
y= A

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [201]:
# external variables
int_var1 = 10
int_var2 = 20
do_sum(int_var1, int_var2)

x= 10
y= 20

30

In [203]:
do_sum(5)

TypeError: do_sum() missing 1 required positional argument: 'y'

In [205]:
# function arguments - internal variables - default values
def do_sum(x = 3, y = 5):
    return x + y

do_sum()

8

In [207]:
do_sum(5)

10

In [209]:
do_sum(y = 15)

18

In [211]:
# function arguments - default values
def do_sum(x = 3, y = None):
    if y == None:
        return x
    else:
        return x + y

do_sum(5)

5

In [213]:
def do_sum(x = 3, y = None):
    result = None
    if y == None:
        result = x
    else:
        result = x + y
    return result

do_sum(5)

5

In [217]:
print(1,2,3,4,"A")

1 2 3 4 A

#### You can create a function that has any number of unlabeld arguments (*args)
* use * in front of the parameter - it has to be the first parameter in the function
* a tuple will be created with those arguments

In [219]:
# function arguments - default values
def do_sum(*y, x = 3):
    print("y =", y)
    if y == ():
        return x
    else:
        return x + sum(y)

do_sum(3,4,5,x = 5)

y = (3, 4, 5)

17

In [221]:


do_sum(3,4,5,10,x = 5)

y = (3, 4, 5, 10)

27

In [223]:
do_sum = 6

In [225]:
do_sum(3,4,5,10,x = 5)

TypeError: 'int' object is not callable

In [227]:
def do_sum(*y, x = 3):
    print("y =", y)
    if y == ():
        return x
    else:
        return x + sum(y)

In [229]:
do_sum(3,4,5,10,x = 5)

y = (3, 4, 5, 10)

27

In [231]:
do_sum((3,4,5,10),x = 5)

y = ((3, 4, 5, 10),)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [233]:
def do_sum(y, x = 3):
    print("y =", y)
    if y == ():
        return x
    else:
        return x + sum(y)

In [235]:
do_sum((3,4,5,10),x = 5)

y = (3, 4, 5, 10)

27

#### You can create a function that has any number of labeled arguments (**kargs)
* use ** in front of the parameter 
* a dictionary will be created for those labels and values

In [239]:
# function arguments - default values
def do_sum(**y):
    print("y =", y)
    print(type(y))
    return sum(y.values())

do_sum( a = 3, b = 4, x = 5)

y = {'a': 3, 'b': 4, 'x': 5}
<class 'dict'>

12

In [241]:
def do_sum(**y):
    print("y =", y)
    s = 0
    for val in y.values():
        s = s + val
    return s

do_sum( a = 3, b = 4, x = 5)

y = {'a': 3, 'b': 4, 'x': 5}

12


### Function Scope

To display variable values in a function use print

In [243]:
def do_product():
    var1 = 2
    print("var1 =", var1)
    var2 = 3
    return var1 * var2

do_product()

var1 = 2

6

In [245]:
var1

NameError: name 'var1' is not defined

#### What is defined in a function, is not available outside it

In [247]:
def do_product():
    var1 = 2
    print(var1)
    var2 = 3
    return var1 * var2

do_product()

2

6

In [249]:
print(var1)

NameError: name 'var1' is not defined

In [251]:
var1 = do_product()
var1

2

6

In [253]:
var1

6

In [255]:
# string patterns with placeholders
print(f'Value of var1: {var1}')

Value of var1: 6

Can anyone describe scope in their own words?

Let us try to do some shopping

In [265]:
budget = 102
price = 10
item_no = 0
# place order
while (budget >= price):
    item_no = item_no +1
    print("Orderred an item", item_no)
    budget = budget - price
print("DONE")

Orderred an item 1
Orderred an item 2
Orderred an item 3
Orderred an item 4
Orderred an item 5
Orderred an item 6
Orderred an item 7
Orderred an item 8
Orderred an item 9
Orderred an item 10
DONE

In [267]:
budget

2

In [269]:
#recursive function - function that calls itself

def make_order(budget, price):
    print("The budget is now: ", budget)
    if budget>=price:
        print("Orderred an item with price: ", price)
        make_order(budget-price, price)
    else:
        print("DONE")

In [273]:
budget = 100
price = 15
make_order(budget, price)

The budget is now:  100
Orderred an item with price:  15
The budget is now:  85
Orderred an item with price:  15
The budget is now:  70
Orderred an item with price:  15
The budget is now:  55
Orderred an item with price:  15
The budget is now:  40
Orderred an item with price:  15
The budget is now:  25
Orderred an item with price:  15
The budget is now:  10
DONE

In [279]:
def make_order(budget, price):
    if budget>=price:
        make_order(budget-price, price)
        print("Orderred an item with price: ", price)
        print("The budget is now: ", budget)
    else:
        print("DONE")

In [281]:
budget = 100
price = 15
make_order(budget, price)

DONE
Orderred an item with price:  15
The budget is now:  25
Orderred an item with price:  15
The budget is now:  40
Orderred an item with price:  15
The budget is now:  55
Orderred an item with price:  15
The budget is now:  70
Orderred an item with price:  15
The budget is now:  85
Orderred an item with price:  15
The budget is now:  100

### <font color = "red">Exercise</font>  
Write a function that computes the number of each of the 4 nucleotides ("A","C","G","T") in a given sequence

In [286]:
seq = "AACGTTA"

In [288]:
{"A":3, "C":1, "G":1, "T":2}

{'A': 3, 'C': 1, 'G': 1, 'T': 2}

In [292]:
{"A":seq.count("A"), "C":seq.count("C"), "G":seq.count("G"), "T":seq.count("T")}

{'A': 3, 'C': 1, 'G': 1, 'T': 2}

In [294]:
def count_nucleotides(seq):
    return {"A":seq.count("A"), "C":seq.count("C"), "G":seq.count("G"), "T":seq.count("T")}

In [298]:
d = count_nucleotides("ACGT")
d

{'A': 1, 'C': 1, 'G': 1, 'T': 1}

In [302]:
def count_nucleotides(seq):
    result = dict.fromkeys("ACGT", 0)
    for nc in seq:
        result[nc] = result[nc] + 1
    return result

count_nucleotides(seq)

{'A': 3, 'C': 1, 'G': 1, 'T': 2}

In [306]:
count_nucleotides("ACGGT")

{'A': 1, 'C': 1, 'G': 2, 'T': 1}

#### Resources

https://docs.python.org/3/tutorial/controlflow.html
https://web.cs.ucdavis.edu/~koehl/Teaching/ECS15/Lectures/Python_Chapter3.pdf       
https://www.geeksforgeeks.org/python-if-else/?ref=lbp         
https://www.tutorialspoint.com/python/python_decision_making.htm          
https://datacarpentry.org/python-socialsci/03-control-structures/index.html   

https://docs.python.org/3/tutorial/controlflow.html#defining-functions       
https://www.geeksforgeeks.org/python-functions/         
https://www.w3schools.com/python/python_functions.asp        
https://www.tutorialspoint.com/python/python_functions.htm