## Control structures 
### BIOINF 575

#### DATATYPES RECAP

```
 STRINGS:      "" or    '' or   """""" or   ''''''
 LISTS:        []
 TUPLES:       ()
 DICTIONARIES: {}, the item structure is  key:value
 SETS:         {}, the item structure is value
```

<img src = "https://media.cheatography.com/storage/thumb/desmovalvo_python3-data-structures.750.jpg" width = "600" />


https://cheatography.com/mariofreitas/cheat-sheets/python-basics-lists-tuples-and-dictionaries/
https://www.slideshare.net/gilcohen792/python3-cheatsheet
https://github.com/leriomaggio/python-in-a-notebook/blob/master/03%20List%20and%20Tuples%20and%20Sets.ipynb

In [2]:
amino_acids = {'Ser': 'Serine', 'Lys': 'Lysine', 'Ala': 'Alanine', 'Leu': 'Leucine'}

To add a new dictionary element - subset the dictionay using the new key and assign the value or use the update function.    
To get all dictionary items use the items method.

In [4]:
amino_acids.items()

dict_items([('Ser', 'Serine'), ('Lys', 'Lysine'), ('Ala', 'Alanine'), ('Leu', 'Leucine')])

In [6]:
key = "Lys"
amino_acids[key]

'Lysine'

In [10]:
amino_acids.update({'Ser': 'Serine1', 'Lys1': 'Lysine'})
amino_acids

{'Ser': 'Serine1',
 'Lys': 'Lysine',
 'Ala': 'Alanine',
 'Leu': 'Leucine',
 'Lys1': 'Lysine'}

#### <font color = "red">Exercise</font> 

Return the value for the key = "Ala".   
If it does not exist return an empty string.   
Create an empty set.   
Add the following values to the set: 'Serine', 'Lysine', 'Alanine'.

In [12]:
dict.get?

Signature: dict.get(self, key, default=None, /)
Docstring: Return the value for key if key is in the dictionary, else default.
Type:      method_descriptor

In [16]:
key = "Ala"

In [18]:
amino_acids[key]

'Alanine'

In [22]:
key = "Ala1"

In [24]:
amino_acids[key]

KeyError: 'Ala1'

In [28]:
val = amino_acids.get(key)
print(val)

None

In [34]:
val = amino_acids.get(key, "X")
print(val)

X

In [36]:
val

'X'

In [38]:
val = amino_acids.get(key, "")
val

''

In [42]:
type({})

dict

In [46]:
aa = set()
aa

set()

In [48]:
type(aa)

set

In [50]:
{1}

{1}

In [52]:
type({1})

set

In [54]:
aa.add('Serine', 'Lysine', 'Alanine')

TypeError: set.add() takes exactly one argument (3 given)

In [56]:
aa.add(['Serine', 'Lysine', 'Alanine'])

TypeError: unhashable type: 'list'

In [58]:
aa.add("Serine")

In [60]:
aa

{'Serine'}

In [62]:
aa.add(('Serine', 'Lysine', 'Alanine'))

In [64]:
aa

{('Serine', 'Lysine', 'Alanine'), 'Serine'}

In [70]:
aa = set()
aa

set()

In [72]:
aa.update(['Serine', 'Lysine', 'Alanine'])
aa

{'Alanine', 'Lysine', 'Serine'}

In [74]:
aa = set(['Serine', 'Lysine', 'Alanine'])
aa

{'Alanine', 'Lysine', 'Serine'}

In [76]:
%whos

Variable               Type             Data/Info
-------------------------------------------------
NamespaceMagics        MetaHasTraits    <class 'IPython.core.magi<...>mespace.NamespaceMagics'>
aa                     set              {'Serine', 'Alanine', 'Lysine'}
amino_acids            dict             n=5
dataframe_columns      function         <function dataframe_columns at 0x16351e020>
dataframe_hash         function         <function dataframe_hash at 0x16351e700>
dtypes_str             function         <function dtypes_str at 0x16351d300>
get_dataframes         function         <function get_dataframes at 0x16351c860>
get_ipython            function         <function get_ipython at 0x1038ad300>
getpass                module           <module 'getpass' from '/<...>b/python3.12/getpass.py'>
hashlib                module           <module 'hashlib' from '/<...>b/python3.12/hashlib.py'>
import_pandas_safely   function         <function import_pandas_safely at 0x1603ddbc0>
is_data_frame          function         <function is_data_frame at 0x1604dbf60>
json                   module           <module 'json' from '/opt<...>on3.12/json/__init__.py'>
key                    str              Ala1
sys                    module           <module 'sys' (built-in)>
val                    str

In [78]:
set = 5

In [80]:
set()

TypeError: 'int' object is not callable

In [82]:
del set

In [84]:
set()

set()

____________

### Control Structures

**Control Structures** are constructs that **give a block of code context as well as help repeat or selectivelly run it**.

Control Structures control how the associated code works by "wrapping" it within its structure.

Types of control structures:
* Sequential: default mode - execution of statements line by line - like reading a book or following a recipe
* Selection: decisions, branching - allows the distinction between two or more disjunct situations in which different sets of statements should be executed <br>
Selection structures:
    * if &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; - considers additional code on only one branch
    * if-else &emsp; &emsp;&emsp;  - considers two branches
    * if-elif-else &emsp;&nbsp;    - considers three branches
* Repetition: looping - allows the repeatition of a set of statements multiple times <br>
Loop structures:
    * while &emsp;  &emsp;   &emsp; - number of repetitions **unknown**
    * for &emsp;&emsp;&emsp;&emsp;&emsp; - number of repetitions **known**

Selection and repetition statements typically rely on conditions that are evaluated as either true or false.

### if: selection/decision control structure

if statements check specific conditions through the processing of the code <br>
The syntax is as follows:

```python
if [not] <condition>:
    <statements>
elif <condition>:
    <statements>
else:
    <statements>
```

In [87]:
# Comprehensive if-elif-else statement
int_var = 20
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

Equal to or greater than 10

In [89]:
int_var = 2
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

Less than 5

In [91]:
int_var = 7
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

Between 5 and 10

In [93]:
int_var = 20
if int_var < 5
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

SyntaxError: expected ':' (4006638334.py, line 2)

In [95]:
int_var = 20
if int_var < 5:
print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")

IndentationError: expected an indented block after 'if' statement on line 2 (3575164793.py, line 3)

In [99]:
int_var = 20
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
    print("this is the else branch")

Equal to or greater than 10
this is the else branch

In [101]:
int_var = 2
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
    print("this is the else branch")

Less than 5

In [103]:
int_var = 2
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
print("this is the else branch")

Less than 5
this is the else branch

In [105]:
int_var = 20
if int_var < 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
print("this is the else branch")

Equal to or greater than 10
this is the else branch

In [107]:
int_var = 2
if int_var = 5:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
print("this is the else branch")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1941969005.py, line 2)

In [111]:
int_var = 20
if int_var:
    print("Less than 5")
elif int_var < 10:
    print("Between 5 and 10")
else:
    print("Equal to or greater than 10")
print("this is the else branch")

Less than 5
this is the else branch

#### <font color = "red">Exercise</font>
Write an if statement to check who is the youngest of three people with ages:
age1, age2, age3

In [115]:
age1 = 20
age2 = 50
age3 = 34

In [123]:
age1 = 200
age2 = 50

youngest_age = age2
if age1 < age2:
    youngest_age = age1
    print("First person is the youngest")
else:
    print("Second person is the youngest")
youngest_age

Second person is the youngest

50

In [125]:
age1 = 20
age2 = 50

youngest_age = age2
if age1 < age2:
    youngest_age = age1
    print("First person is the youngest")
else:
    print("Second person is the youngest")
youngest_age

First person is the youngest

20

In [149]:
age1 = 20
age2 = 50
age3 = 20

youngest_age = age2
if age1 <= age2 and age1 <= age3:
    youngest_age = age1
    print("First person is the youngest")
elif age2 < age1 and age2 < age3:
    youngest_age = age2
    print("Second person is the youngest")
else:
    youngest_age = age3
    print("Third person is the youngest")
youngest_age

First person is the youngest

20

In [155]:
# Write an if statement to check if the sequence is valid:
# "AAACCGGTT"
# - has only A, C, G and Ts and has a GC content > 50

seq = "AAACCGGTT"
CG_count = seq.count("C") + seq.count("G")
c1 = ((seq.count("A") + CG_count + seq.count("T")) == len(seq))
c2 = (CG_count/len(seq) > 0.5)

is_valid = False
if c1 and c2:
    is_valid = True

print("Validity of sequence is:", is_valid)

Validity of sequence is: False

### for: the repetitive control structure with a known number of steps

To loop through a sequence of elements is to iterate

```python
for var in sequence:
    statements
```

* A variable is used to go through each element of the iterable we go through.  
* The variable will take the values of the iterrable elements one by one and then the block of code in the for loop will be executed for each value.
* The code of the for loop - the code to be executed for each element of the iterrable - has to be indented - that is how the interpreter knows where the instructions that it needs to repeat stop

Iterable:  An object capable of returning its members one at a time.
https://docs.python.org/3/glossary.html
https://docs.python.org/3/library/collections.abc.html?highlight=iterable#collections.abc.Iterable

In [167]:
# Print elements of a range
for i in range(3):
    print(i)

0
1
2

In [169]:
l = []
for i in range(3):
    print(i)
    l.append(i)
    print(l)

0
[0]
1
[0, 1]
2
[0, 1, 2]

In [171]:
l

[0, 1, 2]

In [173]:
l = []
for i in range(3):
    print(i)
l.append(i)
    print(l)

IndentationError: unexpected indent (1235576621.py, line 5)

In [175]:
l = []
for i in range(3):
    print(i)
    l.append(i)
print(l)

0
1
2
[0, 1, 2]

In [159]:
i = 0
print(i)

0

In [161]:
i = 1
print(i)
# ....

1

In [157]:
list(range(3))

[0, 1, 2]

In [185]:
# nested loop
prod_lst = []
for i in range(3):
    print(prod_lst)
    for j in range(4):
        print(i,j)
        prod_lst.append(i*j)

print()
print(i,j, prod_lst)

[]
0 0
0 1
0 2
0 3
[0, 0, 0, 0]
1 0
1 1
1 2
1 3
[0, 0, 0, 0, 0, 1, 2, 3]
2 0
2 1
2 2
2 3

2 3 [0, 0, 0, 0, 0, 1, 2, 3, 0, 2, 4, 6]

In [193]:
# do not change the sequence you are going through or the 
# variable you are using in the for statement within the statement in the for loop

list_var = ["elem1","elem2","elem3"]
for list_elem in list_var:
    print(list_elem)
    list_elem = list_elem + "text"
    print(list_elem)

elem1
elem1text
elem2
elem2text
elem3
elem3text

In [195]:
for i in range(len(list_var)):
    print(list_var[i])

elem1
elem2
elem3

In [197]:
for i in range(len(list_var)):
    print(i,list_var[i])

0 elem1
1 elem2
2 elem3

In [ ]:
# use the enumerate function to create pairs of index value
for i, list_elem in enumerate(list_var):
    print(i, list_var[i])

In [201]:
list(enumerate(list_var))

[(0, 'elem1'), (1, 'elem2'), (2, 'elem3')]

In [205]:
# get the tuples one by one
for elem in enumerate(list_var):
    print(elem)

(0, 'elem1')
(1, 'elem2')
(2, 'elem3')

In [207]:
# unpack tuples

for i, elem in enumerate(list_var):
    print(i)
    print(elem)

0
elem1
1
elem2
2
elem3

##### Sequence types as well as dictionaries and sets are iterables

In [211]:
# Go through the amino_acids dictionary items

# going through the dictionary goes through the keys
for item in amino_acids:
    print(item)

Ser
Lys
Ala
Leu
Lys1

In [215]:
for item in amino_acids.keys():
    print(item)

Ser
Lys
Ala
Leu
Lys1

In [217]:
for item in amino_acids.values():
    print(item)

Serine1
Lysine
Alanine
Leucine
Lysine

In [213]:
for item in amino_acids.items():
    print(item)

('Ser', 'Serine1')
('Lys', 'Lysine')
('Ala', 'Alanine')
('Leu', 'Leucine')
('Lys1', 'Lysine')

In [225]:
amino_acids.items()

dict_items([('Ser', 'Serine1'), ('Lys', 'Lysine'), ('Ala', 'Alanine'), ('Leu', 'Leucine'), ('Lys1', 'Lysine')])

In [227]:
a, b = ('Ser', 'Serine1')
print(a)
print(b)

Ser
Serine1

In [219]:
for key, val in amino_acids.items():
    print(key, val)

Ser Serine1
Lys Lysine
Ala Alanine
Leu Leucine
Lys1 Lysine

In [223]:
for elem in {"e1","e20","e3"}:
    print(elem)

e1
e3
e20

#### <font color = "red">Exercise</font> 
Codons are sequences of three nucleotides<br>
Nucleotides are: 'A', 'C', 'G', 'T'<br>
Write code that outputs all possible combinations of codons<br>
Then add a condition to display only the ones that have the group 'AC'

In [229]:
nucleotides = "ACGT"
for n in nucleotides:
    print(n)

A
C
G
T

In [233]:
nucleotides = "ACGT"
for n1 in nucleotides:
    for n2 in nucleotides: 
        print(n1, n2)

A A
A C
A G
A T
C A
C C
C G
C T
G A
G C
G G
G T
T A
T C
T G
T T

In [239]:
codons = []
nucleotides = "ACGT"
for n1 in nucleotides:
    for n2 in nucleotides: 
            for n3 in nucleotides: 
                # print(n1, n2, n3)
                codon = n1 + n2 + n3
                codons.append(codon)
print()
print(n1, n2, n3)
codons

T T T

['AAA',
 'AAC',
 'AAG',
 'AAT',
 'ACA',
 'ACC',
 'ACG',
 'ACT',
 'AGA',
 'AGC',
 'AGG',
 'AGT',
 'ATA',
 'ATC',
 'ATG',
 'ATT',
 'CAA',
 'CAC',
 'CAG',
 'CAT',
 'CCA',
 'CCC',
 'CCG',
 'CCT',
 'CGA',
 'CGC',
 'CGG',
 'CGT',
 'CTA',
 'CTC',
 'CTG',
 'CTT',
 'GAA',
 'GAC',
 'GAG',
 'GAT',
 'GCA',
 'GCC',
 'GCG',
 'GCT',
 'GGA',
 'GGC',
 'GGG',
 'GGT',
 'GTA',
 'GTC',
 'GTG',
 'GTT',
 'TAA',
 'TAC',
 'TAG',
 'TAT',
 'TCA',
 'TCC',
 'TCG',
 'TCT',
 'TGA',
 'TGC',
 'TGG',
 'TGT',
 'TTA',
 'TTC',
 'TTG',
 'TTT']

<b>Think of a repetitive case when you could not use a for loop readily</b>

### while: the repetitive control structure with unkown number of steps

loop stopped by a condition

<b>while loops make it easy to cause an 'infinite loop'</b>

```python
while condition:
    statements
```

In [241]:
# while counting steps
step = 1
while step < 10:
    print('Step ' + str(step))
    step = step + 1 # step +=1

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9

In [251]:
# while I get a value different than the 
# one I am looking for (10) ask for another value 
# while loop stops when the condition is False
cond = True
while cond:
    value = int(input()) 
    if value > 10:
        print(value, 'Greater than what I am looking for')
    if value < 10:
        print(value, 'Lower than what I am looking for')
    cond = (value != 10)

 5

5 Lower than what I am looking for

 10

In [255]:
# because contition is false we will never start the loop
while False:
    print("test")

```python
# Infinite loop
cond = True
while cond:
    print('Infinite loop')
```

In [245]:
# cond = True
# while cond:
#     print('Infinite loop')

#### <font color = "red">Exercise</font> 
Assign a variable sequence_length the value 100 <br>
Substract powers of 2 (2, 4, 8, 16,...) and  until the value drops below 0<br>
Print the power of 2 used in the last substraction.

In [265]:
sequence_length = 100
i = 0
while sequence_length>=0:
    print(sequence_length)
    p = 2**i
    print(p)
    sequence_length -= p
    i += 1
    print()

print(sequence_length)

100
1

99
2

97
4

93
8

85
16

69
32

37
64

-27

### More control statements

Control statements are special structures that have control behavior. 
They can be represented by a keyword:

```python
pass
break
continue
```

<b>pass: do nothing</b>

In [3]:
value = 20
if value == 20:
    pass

In [1]:
value = 20
if value == 20:

SyntaxError: incomplete input (1370860514.py, line 3)

In [275]:
value = 200
if value == 20:
    pass
else:
    print("value not 20")

value not 20

In [277]:
value = 200
if value != 20:
    print("value not 20")

value not 20

<b>break: stops loops

<b>break: allows the user to stop the closest loop</b>

In [279]:
# while break - it already has a condition that stops it but ...
cond = True
i = 0
while cond:
    if i == 3:
        break
    else:
        print(i)
        i = i + 1

0
1
2

In [5]:
# for break - kind of makes it a while
for i in range(10):
    if i==3:
        break
    else:
        print(i)

0
1
2

<b>continue: just continue looping</b>

Forces the loop to move on to the next item, skipping anything after it (that is in the loop)

In [283]:
# Continue example
for i in range(10):
    if i > 3 and i < 7:
        continue
    else:
        print(i)
    print('This statement gets executed')

0
This statement gets executed
1
This statement gets executed
2
This statement gets executed
3
This statement gets executed
7
This statement gets executed
8
This statement gets executed
9
This statement gets executed

_____________
### Functions

Think of functions like the **recipe of a cake**. They start with a title (definition). They often require some ingredients (arguments). They need step-wise instructions (code). And, at the end, all is put together in a delicious cake (returned data).

Additionally, **functions are the easiest way to be efficiently lazy**.
The code is easier to understand and reusable.

### Function Definition

```python
def function_name(arg1, arg2, darg=None):
    # instructions to compute result
    return result
```

* Each function should have a name. This is declared by using the `def` keyword
* A function doesn't need to have arguments to work
* The collection of arguments for a given function is called a **signature**
* The function works within its own ***scope*** unless it is using something that was passed to it or is global
* `return` statments exit the function while passing on the data
* **Defining a function does not run a function**. 
* To run a function, it must be called using `([args])` after the function name

In [8]:
abs?

Signature: abs(x, /)
Docstring: Return the absolute value of the argument.
Type:      builtin_function_or_method

In [ ]:
x = 5

### Function Call - running a function

```python
function_result = function_name(val1, val2, dval)
```

---
### Function Examples

In [12]:
# A function that does nothing
def do_pass():
    pass

result = do_pass()
print(result)

None

In [14]:
def do_sum():
    return 5 + 3

do_sum()

8

In [16]:
result = do_sum()
result

8

In [18]:
# function arguments - internal variables
def do_sum(x, y):
    return x + y

# number and order of arguments is important 
# followed based on the funtion definition
do_sum(5,3)

8

In [20]:
result = do_sum(4,6)
result

10

In [22]:
do_sum(y = 3, x = 7)

10

In [24]:
do_sum("test","sum")

'testsum'

In [26]:
do_sum("test",20)

TypeError: can only concatenate str (not "int") to str

In [38]:
# globals()

In [40]:
int_var1

NameError: name 'int_var1' is not defined

In [44]:
def do_sum(x, y):
    print(int_var1)
    print(x)
    return x + y

In [46]:
# external variables
int_var1 = 10
int_var2 = 20
do_sum(int_var1, int_var2)

10
10

30

In [48]:
print(x)

NameError: name 'x' is not defined

In [50]:
def do_sum(x, y):
    print(int_var1)
    print(x)
    z = 2
    print(z)
    return x + y

In [52]:
do_sum(4,7)

10
4
2

11

In [54]:
print(z)

NameError: name 'z' is not defined

In [56]:
do_sum(5)

TypeError: do_sum() missing 1 required positional argument: 'y'

In [60]:
def do_sum(x, y = 10):
    return x + y

do_sum()

TypeError: do_sum() missing 1 required positional argument: 'x'

In [62]:
do_sum(6)

16

In [64]:
do_sum(40,50)

90

In [66]:
# function arguments - internal variables - default values
def do_sum(x = 3, y = 5):
    return x + y

do_sum()

8

In [68]:
do_sum(5)

10

In [70]:
do_sum(y = 15)

18

In [72]:
do_sum(50,80)

130

In [74]:
# function arguments - default values
def do_sum(x = 3, y = None):
    if y == None:
        return x
    else:
        return x + y

do_sum(5)

5

In [76]:
do_sum(100, 200)

300

#### You can create a function that has any number of unlabeld arguments (*args)
* use * in front of the parameter - it has to be the first parameter in the function
* a tuple will be created with those arguments

In [82]:
# function arguments - default values
def do_sum(*y, x = 3):
    print("y =", y)
    if y == ():
        return x
    else:
        return x + sum(y)

do_sum(3,4,5,6,x = 5)

y = (3, 4, 5, 6)

23

In [84]:
def do_sum(y, x = 3):
    print("y =", y)
    if y == ():
        return x
    else:
        return x + sum(y)

do_sum((3,4,5,6),x = 5)

y = (3, 4, 5, 6)

23

In [90]:
print((2,3,4,5,"A"))

(2, 3, 4, 5, 'A')

In [94]:
def do_sum(x=5,*y):
    print("y =", y)
    if y == ():
        return x
    else:
        return x + sum(y)

do_sum(x = 5,3,4,5,6)

SyntaxError: positional argument follows keyword argument (2960092877.py, line 8)

In [98]:
def do_sum(*y, x = 3):
    print("y =", y)
    if y == ():
        return x
    else:
        return sum(y) - x

do_sum(3,4,5,6,10)

y = (3, 4, 5, 6, 10)

25

#### You can create a function that has any number of labeled arguments (**kargs)
* use ** in front of the parameter 
* a dictionary will be created for those labels and values

In [ ]:
# function arguments - default values
def do_sum(**y):
    print("y =", y)
    return sum(y.values())

do_sum( a = 3, b = 4, x = 5)

In [100]:
def do_sum(**y):
    print("y =", y)
    s = 0
    for val in y.values():
        s = s + val
    return s

do_sum( a = 3, b = 4, x = 5)

y = {'a': 3, 'b': 4, 'x': 5}

12


### Function Scope

To display variable values in a function use print

In [102]:
def do_product():
    var1 = 2
    print("var1 =", var1)
    var2 = 3
    return var1 * var2

do_product()

var1 = 2

6

#### What is defined in a function, is not available outside it

In [104]:
def do_product():
    var1 = 2
    print(var1)
    var2 = 3
    return var1 * var2

do_product()

2

6

In [106]:
print(var1)

NameError: name 'var1' is not defined

In [108]:
var1 = do_product()
var1

2

6

In [110]:
# string patterns with placeholders
print(f'Value of var1: {var1}')

Value of var1: 6

Can anyone describe scope in their own words?

Let us try to do some shopping

In [114]:
budget = 100
price = 10

# place order
while (budget >= price):
    print("Orderred an item")
    budget = budget - price
    print(budget)
print("DONE")

Orderred an item
90
Orderred an item
80
Orderred an item
70
Orderred an item
60
Orderred an item
50
Orderred an item
40
Orderred an item
30
Orderred an item
20
Orderred an item
10
Orderred an item
0
DONE

In [116]:
#recursive function - function that calls itself

def make_order(budget, price):
    print("The budget is now: ", budget)
    if budget>=price:
        print("Orderred an item with price: ", price)
        make_order(budget-price, price)
    else:
        print("DONE")

In [124]:
def make_order(budget, price):
    """
    This function simulates shopping
    Args:
        budget (int): the value I have to spend
        price (int): the price of the item I buy
    Returns: does not return anything (None), prints the budget
    """
    print("The budget is now: ", budget)
    if budget>=price:
        print("Orderred an item with price: ", price)
        make_order(budget-price, price)
    else:
        print("DONE")

In [128]:
help(make_order)

Help on function make_order in module __main__:

make_order(budget, price)
    This function simulates shopping
    Args:
        budget (int): the value I have to spend
        price (int): the price of the item I buy
    Returns: does not return anything (None), prints the budget

In [120]:
%whos

Variable               Type        Data/Info
--------------------------------------------
budget                 int         0
dataframe_columns      function    <function dataframe_columns at 0x13b214860>
dataframe_hash         function    <function dataframe_hash at 0x13b217740>
do_pass                function    <function do_pass at 0x13ac26fc0>
do_product             function    <function do_product at 0x13b167420>
do_sum                 function    <function do_sum at 0x13b165e40>
dtypes_str             function    <function dtypes_str at 0x13b217600>
get_dataframes         function    <function get_dataframes at 0x13b2177e0>
getpass                module      <module 'getpass' from '/<...>b/python3.12/getpass.py'>
hashlib                module      <module 'hashlib' from '/<...>b/python3.12/hashlib.py'>
i                      int         3
import_pandas_safely   function    <function import_pandas_safely at 0x13b2176a0>
int_var1               int         10
int_var2               int         20
is_data_frame          function    <function is_data_frame at 0x13b215da0>
json                   module      <module 'json' from '/opt<...>on3.12/json/__init__.py'>
make_order             function    <function make_order at 0x13b1cb600>
price                  int         10
result                 int         10
value                  int         20
var1                   int         6

In [130]:
budget = 100
price = 20
make_order(budget, price)

The budget is now:  100
Orderred an item with price:  20
The budget is now:  80
Orderred an item with price:  20
The budget is now:  60
Orderred an item with price:  20
The budget is now:  40
Orderred an item with price:  20
The budget is now:  20
Orderred an item with price:  20
The budget is now:  0
DONE

In [132]:
def make_order(budget, price):
    """
    This function simulates shopping
    Args:
        budget (int): the value I have to spend
        price (int): the price of the item I buy
    Returns: does not return anything (None), prints the budget
    """
    if budget>=price:
        print("Orderred an item with price: ", price)
        make_order(budget-price, price)
    else:
        print("DONE")
    print("The budget is now: ", budget)

In [134]:
budget = 100
price = 20
make_order(budget, price)

Orderred an item with price:  20
Orderred an item with price:  20
Orderred an item with price:  20
Orderred an item with price:  20
Orderred an item with price:  20
DONE
The budget is now:  0
The budget is now:  20
The budget is now:  40
The budget is now:  60
The budget is now:  80
The budget is now:  100

In [144]:
def make_order(budget, price):
    """
    This function simulates shopping
    Args:
        budget (int): the value I have to spend
        price (int): the price of the item I buy
    Returns: does not return anything (None), prints the budget
    """
    if budget>=price:
        make_order(budget-price, price)
        print("Orderred an item with price: ", price)
        print("The budget is now: ", budget)
    else:
        print("DONE")

In [146]:
budget = 100
price = 20
make_order(budget, price)

DONE
Orderred an item with price:  20
The budget is now:  20
Orderred an item with price:  20
The budget is now:  40
Orderred an item with price:  20
The budget is now:  60
Orderred an item with price:  20
The budget is now:  80
Orderred an item with price:  20
The budget is now:  100

### <font color = "red">Exercise</font>  
Write a function that computes the number of each of the 4 nucleotides ("A","C","G","T") in a given sequence

In [151]:
seq = "AACGTTTTT"

In [153]:
{"A": seq.count("A"), "C": seq.count("C"), "G": seq.count("G"), "T": seq.count("T")}

{'A': 2, 'C': 1, 'G': 1, 'T': 5}

In [157]:
def count_nucleotides(seq):
    {"A": seq.count("A"), "C": seq.count("C"), "G": seq.count("G"), "T": seq.count("T")}

In [161]:
result = count_nucleotides("ACGT")
print(result)

None

In [163]:
def count_nucleotides(seq):
    # result = {}
    result = {"A": seq.count("A"), "C": seq.count("C"), "G": seq.count("G"), "T": seq.count("T")}
    return result

In [165]:
res = count_nucleotides("ACGT")
res

{'A': 1, 'C': 1, 'G': 1, 'T': 1}

In [167]:
res = count_nucleotides(seq)
res

{'A': 2, 'C': 1, 'G': 1, 'T': 5}

In [171]:
print(seq)
res = count_nucleotides(seq = "ACGTTTTTTTTT")
print("res", res)
print(seq)

AACGTTTTT
res {'A': 1, 'C': 1, 'G': 1, 'T': 9}
AACGTTTTT

In [173]:
def count_nucleotides(seq):
    result = dict.fromkeys("ACGT", 0)
    for n in seq:
        result[n] = result[n] + 1
    return result

res = count_nucleotides(seq = "ACGTTTTTTTTT")
print("res", res)

res {'A': 1, 'C': 1, 'G': 1, 'T': 9}

In [175]:
print(seq)
res = count_nucleotides(seq = seq)
print("res", res)

AACGTTTTT
res {'A': 2, 'C': 1, 'G': 1, 'T': 5}

#### Resources

https://docs.python.org/3/tutorial/controlflow.html
https://web.cs.ucdavis.edu/~koehl/Teaching/ECS15/Lectures/Python_Chapter3.pdf       
https://www.geeksforgeeks.org/python-if-else/?ref=lbp         
https://www.tutorialspoint.com/python/python_decision_making.htm          
https://datacarpentry.org/python-socialsci/03-control-structures/index.html   

https://docs.python.org/3/tutorial/controlflow.html#defining-functions       
https://www.geeksforgeeks.org/python-functions/         
https://www.w3schools.com/python/python_functions.asp        
https://www.tutorialspoint.com/python/python_functions.htm